@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@font-face {
  font-family: 'Geist Sans';
  src: url('../assets/fonts/GeistVF.woff') format('woff');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist Sans';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
